/* swagger-ui.css */

.swagger-ui .topbar a.link[rel="noopener noreferrer"] svg {
    display: none;
}
.swagger-ui .topbar {
    display: none;
}
.swagger-ui .info .title small.version-stamp {
    background-color: #313244;
}
.swagger-ui,
.swagger-ui select,
.swagger-ui .opblock-tag,
.swagger-ui .model,
.swagger-ui .btn,
.swagger-ui .btn,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock-tag small,
.swagger-ui .opblock .opblock-section-header h4,
.swagger-ui .opblock-description-wrapper p, 
.swagger-ui .opblock-external-docs-wrapper p, 
.swagger-ui .opblock-title_normal p,
.swagger-ui .opblock .opblock-summary-description,
.swagger-ui table thead tr td, 
.swagger-ui table thead tr th,
.swagger-ui .response-col_status,
.swagger-ui .response-col_links,
.swagger-ui .tab li,
.swagger-ui .parameter__name,
.swagger-ui .parameter__type,
.swagger-ui .responses-inner h4, 
.swagger-ui .responses-inner h5,
.swagger-ui textarea,
.swagger-ui label,
.swagger-ui .scopes h2 {
    color: #4c4f69;
}
.swagger-ui input {
    color: #4c4f69 !important;
}
.swagger-ui section.models h4,
.swagger-ui .model-title {
    color: #5c5f77;
}
.swagger-ui .model .property {
    color: #9ca0b0;
}
.swagger-ui .model .property.primitive,
.swagger-ui .parameter__extension, 
.swagger-ui .parameter__in {
    color: #6c6f85;
}
.swagger-ui .prop-type {
    color: #8839ef;
}
.swagger-ui select {
    border: 2px solid #5c5f77;
}
.swagger-ui .btn {
    border: 2px solid #7c7f93;
}
.swagger-ui .btn.authorize {
    color: #40a02b;
    border-color: #40a02b;
}
.swagger-ui .btn.authorize svg {
    fill: #40a02b;
}
.swagger-ui .opblock-control-arrow svg,
.swagger-ui .expand-methods svg, 
.swagger-ui .expand-operation svg,
.swagger-ui .authorization__btn svg,
.swagger-ui .dialog-ux .modal-ux-header .close-modal svg {
    fill: #4c4f69;
}
.swagger-ui .btn.execute {
    color: #eff1f5;
}
.swagger-ui .btn.cancel {
    color: #d20f39;
    border-color: #d20f39;
}
.swagger-ui .parameter__name.required span,
.swagger-ui .parameter__name.required:after,
.swagger-ui table.model tr.property-row .star {
    color: #d20f39;
}
body, 
.swagger-ui .opblock .opblock-section-header {
    background: #e6e9ef;
}
.swagger-ui .scheme-container,
.swagger-ui .dialog-ux .modal-ux {
    background: #eff1f5;
}
.swagger-ui .dialog-ux .modal-ux-header {
    border-bottom: 1px solid #dce0e8;
}
.swagger-ui .dialog-ux .modal-ux-content p,
.swagger-ui .dialog-ux .modal-ux-header h3,
.swagger-ui .dialog-ux .modal-ux-content h4 {
    color: #4c4f69;
}
.swagger-ui .opblock.opblock-delete .tab-header .tab-item.active h4 span:after,
.swagger-ui .opblock.opblock-delete .opblock-summary-method {
    background: #d20f39;
}
.swagger-ui .opblock.opblock-delete,
.swagger-ui .opblock.opblock-delete .opblock-summary {
    border-color: #d20f39;
}
.swagger-ui .opblock.opblock-delete {
    background: #d20f3929;
}
.swagger-ui .opblock.opblock-put .tab-header .tab-item.active h4 span::after,
.swagger-ui .opblock.opblock-put .opblock-summary-method {
    background: #df8e1d;
}
.swagger-ui .opblock.opblock-put,
.swagger-ui .opblock.opblock-put .opblock-summary {
    border-color: #df8e1d;
}
.swagger-ui .opblock.opblock-put {
    background: #df8e1d29;
}
.swagger-ui .opblock.opblock-post .tab-header .tab-item.active h4 span:after,
.swagger-ui .opblock.opblock-post .opblock-summary-method {
    background: #40a02b;
}
.swagger-ui .opblock.opblock-post,
.swagger-ui .opblock.opblock-post .opblock-summary {
    border-color: #40a02b;
}
.swagger-ui .opblock.opblock-post {
    background: #40a02b29;
}
.swagger-ui .opblock.opblock-get .tab-header .tab-item.active h4 span:after,
.swagger-ui .opblock.opblock-get .opblock-summary-method {
    background: #04a5e5;
}
.swagger-ui .opblock.opblock-get,
.swagger-ui .opblock.opblock-get .opblock-summary {
    border-color: #04a5e5;
}
.swagger-ui .opblock.opblock-get {
    background: #04a5e529;
}